---
layout: default
title: Home
---
{% if paginator.page == 1%}
<div class="intro">
  <h1 style="font-size: 3.25rem">{{site.title}}</h1>
  <p>
  Welcome to Lyndon Armitage's Blog.<br />
  I mostly write about programming and technology related subjects, for more
  information on me see my <a href="/about">about page</a>.
  </p>
  <p>
  Any posts contained are my own opinions and
  musings and are not representative of my employer. 
  </p>
</div>
{% endif%}

<h1>Recent Posts</h1>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    {{ post.excerpt }}
    <span class="read-more"><a href="{{post.url}}">Contine reading...</a></span>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
