/*
CSS For custom blog elements
*/
.blog-image {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.profile {
  display: none;
  max-width: 100%;
}

@media (min-width: 48rem) {

  img.profile {
    display: block;
    max-width: 100%;
  }
}

.comment {
  border: groove 1px;
  margin-top: 1em;
  padding: 1em;
}

/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Abril Fatface", serif;
  font-size: 2rem;
}

.lead {
  font-size: 1rem;
}

#donate {
  border-top: 1px solid #eee;
  font-size: 0.7rem;
  font-style: italic;
}
